// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$selector: '.card';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$selector} {
    @include dims( 300px auto );
    @include max-size( 90% auto );

    background: #FFF;
    box-shadow: 0 2px 20px -4px rgba( 0,0,0,0.2 );
    margin: 0 auto;
}

#{$selector}:not( :last-child ) {
    margin-bottom: 20px;
}

#{$selector}__header {
    @include dims( 100% auto );
    @include position( relative );

    background-color: #ff7878;
    padding-top: applyAspect( 2 3, 100% ) // Returns 66.666666%;
}

#{$selector}__body {
    @include clearfix;

    padding: 20px;
    padding-bottom: 0;

    @include descendant( last ) {
        margin-bottom: 20px;
    }
}